
   header{
     color: dimgray;
     font-family: 'Indie Flower', cursive;
     text-align: center;
     font-size: 80px;
   }
   #image1{
     display:block;
     margin-left: auto;
     margin-right: auto;
     height: 400px;
     width: 400px;
   }
   #image{
     height: 300px;
     width: 300px;
     margin: auto;
     padding:25px 25px 25px 25px;
   }
   h1{
     color: chocolate;
     font-family: 'Suez One', serif;
   }

   table,th,td{
     border:2px solid black;
     border-collapse: collapse;
     box-sizing: border-box;
     
   }
   th,td{
     padding: 10px;
     text-align: center;
     font-size:medium;
     text-decoration: cornflowerblue;
     font-family: 'Suez One', serif;
   }
   #t1{
     background-color:rgb(139, 173, 166);
     width: auto;
     
   }
   #t1 tr:nth-child(even){
     background-color: rgb(155, 172, 126);
   }
   
   p{
    font-size:25px;
    font-family: 'Noto Serif', serif;
    color: cadetblue;
   }
   h2{
     color: darkcyan;
     font-family: cursive;
   }
   dd{
     color: darkolivegreen;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: large;
   }
   dt{
     color: darkslategrey;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     
   }
 